<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <form method="POST" action = "">
    {{  form.hidden_tag()  }}
    <fieldset class = 'form-group'>
        {{form.input4.label}}
        {{form.input4}}
    </fieldset>
    <fieldset class = 'form-group'>
        {{form.input5.label}}
        {{form.input5}}
    </fieldset>
    <fieldset class = 'form-group'>
        {{form.input6.label}}
        {{form.input6}}
    </fieldset>
    {{form.submit4}}

 </form>
</body>
</html>