<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mlp</title>
    <style>
        h1 {text-align: center;
            color: #31968e;}
        p {text-align: center;
            margin-left: auto;
            margin-right: auto;}
        .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
              }
    </style>
</head>
<body>
    <h1>Perceptron multicouche</h1>

 <h2>{{resultat}}</h2>
</br>
<p>
    Un perceptron multicouche est un modèle de réseau de neurones artificiels qui est formé de plusieurs couches de perceptrons.
     Un perceptron est un modèle de réseau de neurones simple qui prend en entrée une série de valeurs et produit une sortie binaire en fonction de ces valeurs.
      Un perceptron multicouche, en revanche, est capable de traiter des données plus complexes en utilisant plusieurs couches de perceptrons interconnectés. 
      Chaque couche de perceptrons peut effectuer des calculs différents sur les données d'entrée, ce qui permet au modèle de traiter des données de manière plus approfondie et de produire des résultats plus précis.
</p>
</body>
</html>